*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.cabecera {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    background: deeppink;
    -webkit-box-shadow: 6px 7px 50px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 7px 50px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 7px 50px -13px rgba(0, 0, 0, 0.75)
}

.cabecera h3 {
    color: #fff;
    font-weight: bold;
    margin-right: 20px;
}

.cabecera p {
    color: floralwhite;
    font-size: 0.8rem;
}

.container {
    width: 70%;
    max-width: 1000px;
    border: 1rem solid #ccc;
    margin: 0 auto;
}

.post {
    margin-top: 1rem;
    padding: 1rem;
    text-align: left;
}